body {
	font-family: 'Open Sans';
	margin: 0px 0px;
}

div, img {
	transition: linear 0.2s;
}

a {
	text-decoration: none;
}

.container {
	background-color: #AFDED4;
	text-align: center;
	margin: 0px auto;
	padding-top: 40px;
	width: 100%;
	height: 100%;
}

#navbar {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	background-color: #89CDC2;
	opacity: 0.8;
	box-shadow: 0px 4px 4px #aaa;
}

#logo {
	position: absolute;
	left: 20px;
	top: 10px;
	color: black;
	background-color: white;
	border-radius: 5px;
	padding: 5px;
}

#search {
	width: 360px;
	position: absolute;
	right: 20px;
	top: 15px;
}

#search-word {
	width: 30px;
	display: inline;
	color: #F1F4F2;
	position: absolute;
	right: 365px;
}

#search-icon {
	width: 15px;
	position: absolute;
	right: 5px;
}

#search-icon img {
	width: 15px;
}

#search-icon img:hover {
	opacity: 0.5;
}

#search-bar {
	width: 300px;
	height: 15px;
	position: absolute;
	right: 30px;
	background-color: white;
	text-align: left;
}

#to-top {
	position: fixed;
	right: 100px;
	bottom: 60px;
	background-color: #F1F4F2;
	border-radius: 5px;
	box-shadow: 0px 4px 4px #aaa;
}

#to-top:hover {
	background-color: #ddd;
}

#button {
	padding: 10px;
	color: #000000;
}

#title {
	font-size: 2em;
	margin: 20px auto;
	color: #F1F4F2;
	text-shadow: 0px 4px 4px #777;
}

#piczone {
	margin: auto;
}

#mainpic img {
	width: 720px;
	border-radius: 10px;
	box-shadow: 0px 4px 4px #777;
}

#piclist {
	width: 720px;
	margin: 10px auto;
}

#smallpic {
	margin: 1px;
	display: inline;
}

#smallpic img {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 2px 2px #777;
}

#smallpic:hover {
	opacity: 0.5;
}

.text-box {
	margin: 20px auto;
	background-color: #F1F4F2;
	width: 720px;
	border-radius: 10px;
	box-shadow: 0px 4px 4px #777;
	padding-bottom: 20px
}

#list-title {
	margin: 10px auto;
	padding-top: 20px;
	width: 700px;
	font-size: 1.3em;
}

#feature-box {
	width: 720px;
	padding-bottom: 10px;
}

#feature {
	padding: 5px;
	background-color: white;
	border-radius: 5px;
	display: inline-block;
	margin: 5px;
	color: black;
}

#description {
	line-height: 2;
	width: 600px;
	margin: 10px;
	display: inline-block;
}

#bottom-bar {
	width: 100%;
	height: 50px;
	background-color: #89CDC2;
}

#directory {
	position: relative;
	bottom: -10px;
}

#directory-item {
	display: inline;
	background-color: white;
	color: black;
	padding: 5px;
	border-radius: 5px;
}

#directory-arrow {
	display: inline;
}

#directory-arrow img {
	width: 20px;
	position: relative;
	bottom: -5px;
}
