body {
	font-family: 'Open Sans';
	margin: 0px 0px;
	background-color: #B1DED4;
}

div, img {
	transition: linear 0.2s;
}

a {
	text-decoration: none;
}

.container {
	color: white;
	margin-left: 200px;
	padding-left: 20px;
	height: 1200px;
}

#back {
	position: absolute;
	top: 20px;
	left: 230px;
	width: 70px;
	padding: 5px;
	margin: 0px;
	background-color: #F1F4F2;
	border-radius: 5px;
	color: black;
	text-align: center;
	box-shadow: 0px 2px 0px #aaa;
}

#back:active {
	box-shadow: 0px 1px 0px #aaa;
	transform: translate(0px, 1px);
}

.title {
	font-size: 2em;
	font-weight: 400;
	margin: 20px auto;
	color: white;
	text-align: center;
	text-shadow: 2px 2px #504a4b;
}
	
.image {
	margin: 10px;
	display: inline-block;
}

.image:hover{
	opacity: .75;
}

.image img{
	width: 200px;
	height: 200px;
	border-radius: 10px;
	margin: 15px auto;
	object-fit: cover;
	box-shadow: 0px 3px 0px #777;
}

.image img:active {
	box-shadow: 0px 1px 0px #777;
	transform: translate(0px, 2px);
}

.description{
	padding: 5px;
	color: black;
	border-radius: 10px;
	background-color: #F1F4F2;
	text-align: center;
	box-shadow: 0px 3px 0px #aaa;
}

.description:active {
	box-shadow: 0px 1px 0px #aaa;
	transform: translate(0px, 2px);
}

.side-bar{
	background-color: #F1F4F2;
	width: 200px;
	padding: 5px;
	border-radius: 10px;
	color: black;
	position: fixed;
	text-align: center;
	box-shadow: 0px 3px 0px #aaa;
}

.search-title {
	font-weight: 600;
}

.side-bar li {
	list-style-type: none;
	font-size: 15px;
	margin: 2px auto;
}

#buttons {
	margin: 5px auto;
}

#bottom-bar {
	width: 100%;
	height: 35px;
	padding-top: 10px;
	background-color: #89CDC2;
}

#bottombar-item {
	text-align: center;
}

#bottombar-item ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
}

#bottombar-item li {
	display: inline;
	font-weight: 300;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

#bottombar-item li:hover {
	opacity: 0.6;
}